.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* navbar shuru */
.logo{
    text-align: left;
}
.hd h1{
    text-align: right;

}
.menu{
flex-direction: row;
justify-content: flex-end;
}
.menu a{
    padding: 5px 10px;
    margin: 20px 0;
}

/* navbar sesh */
/* profile shuru*/
.first{
    position: absolute;
    right: 100px;
    transition: width 2s, transform 2s;
    border-radius: 10px;
    width: 9rem;
    height: 6rem;
}
.first:hover{
   width:10rem ;
}
.second{
    position: absolute;
    left: 100px;
    transition: width 2s, transform 2s;
    border-radius: 10px;
    width: 9rem;
    height: 6rem;
    bottom: 15px;
}
.second:hover{
    width:10rem ;
} 
.profile-des p{
    color: black;
    font-family: 'Odibee Sans', cursive;
    width:40%;
    text-align: center;
    margin:  0 auto 20px auto;
    padding-bottom: 10px;
}
.profile::after{
    content:"";
    display: table;
    clear: both;
    
}

/*profile sesh */

/* about me shuru */
.about-me-chobi img{
    border-radius: 10%;
    border: 2px solid wheat;
    height: 300px;
    width: 250px;
    margin: 100px;
}
.cnme button{
    width: 110px;
}
.ac-links
{
    position: relative;
}
.media-icons{
    position: absolute;
    margin-top: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}